{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Specializations</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="{% static "crud/css/style.css" %}" media="screen,projection,print" />
    <link type="text/css" rel="stylesheet" href="{% static "crud/css/menu.css" %}" media="screen,projection,print" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Pace -->
    <script type="text/javascript" src="{% static "crud/js/pace.min.js" %}"></script>
    <link href="{% static "crud/css/pace/pace-theme-flash.css" %}" rel="stylesheet" />
</head>

<body>
    <div id="overlay"></div>
    {% include 'crud/header.html' %}
    <main>
        <div class="container">
            <!--
			<div class="row">
				<div class="col s12 m3 l3">
					<button class="btn waves-effect waves-light" target="_blank" onclick="window.location.href='/planos/'">Início</button>
				</div>
				<div class="col s12 m3 l3">
					<button class="btn waves-effect waves-light" target="_blank" onclick="window.location.href='/planos/listar/'">Ver planos salvos</button>
				</div>
			</div>
			-->
            <div class="row">
                <form class="col s12 m12 l12" method="POST">
                    <div class="row">
                        <div class="input-field col s12 m6 l6">
                            <i class="material-icons prefix">label</i>
                            <select id="curso" name="curso" required>
								<option value="" disabled selected>Selecione...</option>
							</select>
                            <label>Curso</label>
                        </div>

                        <div class="input-field col s12 m6 l6">
                            <i class="material-icons prefix">label</i>
                            <select id="estrutura" name="estrutura" required>
								<option value="" disabled selected>Selecione...</option>
							</select>
                            <label>Estrutura</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">label</i>
                            <select id="disciplina" name="disciplina" required>
								<option value="" disabled selected>Selecione...</option>
							</select>
                            <label>Disciplina</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m6 l6">
                            <i class="material-icons prefix">label</i>
                            <input type="text" id="modalidade" name="modalidade" class="validate" readonly="readonly">
                            <label for="modalidade">Modalidade</label>
                        </div>
                        <div id="col-periodo" class="input-field col s12 m6 l6">
                            <i class="material-icons prefix">label</i>
                            <input type="text" id="periodo" name="periodo" class="validate" readonly="readonly">
                            <label for="periodo">Período</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m6 l4">
                            <i class="material-icons prefix">label</i>
                            <select id="turma" name="turma" required>
                                <option value="" disabled>Selecione...</option>
                                <option value="Única" selected>Única</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                            </select>
                            <label>Turma</label>
                        </div>
                        <div class="input-field col s12 m6 l4">
                            <i class="material-icons prefix">label</i>
                            <select id="anosem" name="anosem" required>
                                <option value="" disabled>Selecione...</option>
                                <option value="2016/1">2016/1</option>
                                <option value="2016/2">2016/2</option>
                                <option value="2017/1">2017/1</option>
                                <option value="2017/2" selected>2017/2</option>
                                <option value="2018/1">2018/1</option>
                                <option value="2018/2">2018/2</option>
                                <option value="2019/1">2019/1</option>
                                <option value="2019/2">2019/2</option>
                            </select>
                            <label>Ano/Semestre</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m6 l4">
                            <i class="material-icons prefix">label</i>
                            <input type="number" id="chTotal" name="chTotal" class="validate" readonly="readonly" required>
                            <label for="chTotal">CH Total</label>
                        </div>
                        <div class="input-field col s12 m6 l4">
                            <i class="material-icons prefix">label</i>
                            <input type="number" id="chSemanal" name="chSemanal" class="validate" readonly="readonly" required>
                            <label for="chSemanal">CH Semanal</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">label</i>
                            <input type="text" id="professor" name="professor" class="validate" required>
                            <label for="professor">Professor</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">comment</i>
                            <textarea class="materialize-textarea validade" id="ementa" name="ementa" required readonly="readonly"></textarea>
                            <label for="ementa">Ementa</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">comment</i>
                            <textarea class="materialize-textarea validade" id="objGeral" name="objGeral"></textarea>
                            <label for="objGeral">Objetivo Geral</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">comment</i>
                            <textarea class="materialize-textarea validade" id="objEspecifico" name="objEspecifico"></textarea>
                            <label for="objEspecifico">Objetivo Específico</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">comment</i>
                            <textarea class="materialize-textarea validade" id="conteudo" name="conteudo"></textarea>
                            <label for="conteudo">Conteúdo Programático</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">comment</i>
                            <textarea class="materialize-textarea validade" id="metodologia" name="metodologia"></textarea>
                            <label for="metodologia">Metodologia</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">comment</i>
                            <textarea class="materialize-textarea validade" id="estApoio" name="estApoio"></textarea>
                            <label for="estApoio">Estrutura de Apoio</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12 clickable">
                            Para auto preenchimento do método de avaliação, selecione o tipo de disciplina:<br/>
                            <span id="disc-presencial">Disciplina Presencial (VA's e OAt)</span><br/>
                            <span id="disc-ead">Disciplina à Distância (VAM's e VAP's)</span><br/>
                            <span id="disc-pin">Projeto Integrador</span><br/>
                            <span id="disc-tcc">Trabalho de Conclusão de Curso</span>
                        </div>
                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">comment</i>
                            <textarea class="materialize-textarea validade" id="avaliacao" name="avaliacao"></textarea>
                            <label for="avaliacao">Avaliação</label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">comment</i>
                            <textarea class="materialize-textarea validade" id="bibBasica" name="bibBasica" required readonly="readonly"></textarea>
                            <label for="bibBasica">Bibliografia Básica</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m12 l12">
                            <i class="material-icons prefix">comment</i>
                            <textarea class="materialize-textarea validade" id="bibComplementar" name="bibComplementar" required readonly="readonly"></textarea>
                            <label for="bibComplementar">Bibliografia Complementar</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m12 l12">
                            <button class="btn waves-effect waves-light" type="submit" target="_blank" formaction="/planos/salvar/">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    {% include 'crud/footer.html' %}
</body>

</html>
<script type="text/javascript">
    var empty = `<option value="" disabled selected>Selecione...</option>`;

    $(document).ajaxStart(function(){$("#overlay").show();});
    $(document).ajaxComplete(function(){$("#overlay").hide();});

    $(document).ready(function() {
        $('select').material_select();

        {% if character %}
            carregarCombos();

            /* Setting fields for edit */
            $("#name").val(`{{ character.name }}`);
            $("#life").val(`{{ character.life }}`);
            $("#mana").val(`{{ character.mana }}`);
            $("#armor").val(`{{ character.armor }}`);
        {% endif %}

        $.ajax({
            url: '/crud/ajax/specialization',
            dataType: 'json',
            success: function(data) {
                var curso = $("#specialization");
                $.each(data, function() {
                    var spec_id = `{{ character.specialization.id }}`;

                    if (this.pk == spec_id) {
                        curso.append(`<option value="`+this.pk+`" selected>` + this.fields.nome + `</option>`)
                    } else {
                        curso.append(`<option value="`+this.pk+`">` + this.fields.nome + `</option>`)
                    }
                });

                curso.material_select();
            },
        });
    });
</script>