<header>
    <div class="container">
        <div class="row">
            <div id='cssmenu'>
                <ul>
                    <li class='active has-sub'>
                        <a href='#'>
                            <span>Specializations</span>
                        </a>
                        <ul>
                            <li>
                                <a href='/crud/specialization/new'>
                                    <span>New</span>
                                </a>
                            </li>
                            <li>
                                <a href='/crud/specialization'>
                                    <span>List</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class='active has-sub'>
                            <a href='#'>
                                <span>Characters</span>
                            </a>
                            <ul>
                                <li>
                                    <a href='/crud/character/new'>
                                        <span>New</span>
                                    </a>
                                </li>
                                <li>
                                    <a href='/crud/character'>
                                        <span>List</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    <li class='last'>
                        <a href='/admin'>
                            <span>Admin</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" />
    </div>
</header>